{{- define "headTpl" -}}
{{$.Scratch.Set "nav_active" "download"}}
{{$.Scratch.Set "data_i18_link" "/download"}}
{{$.Scratch.Set "data_i18_cn" true }}
{{- partial "head/preload-css" (dict "href" "/css/download-cn.css") -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
{{- end -}}

{{- define "main" -}}
<div class="download-cn">
    {{- partial "layout/download-cn-hero" -}}

    <div class="form">
        <div class="title-field">
            <div class="title">
                <p>社区版下载</p>
                <img class="lazy linux-icon" src="/images/svgs/loader-spinner.svg"
                    data-original="/images/download-cn/linux-icon.svg" alt="linux-icon" />
            </div>
        </div>

        <div class="form-field">
            <div class="columns is-multiline is-variable is-8">
                <div class="column is-6">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
        threshold: 200,
        effect: "fadeIn"
    });
</script>
{{- end -}}
